form{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:30%;
    background-color: rgb(154, 230, 253);
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 27%;
    padding: 2%;
}
.form-control{
    width:100%;
}
h3{
    color:white;
    text-align: center;
}
label{
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    color:white;
}

#error:focus{
    border: 2px solid rgb(255, 50, 50);
    box-shadow:0 0 0 0.2rem rgba(252, 64, 64, 0.404);
}
p{
    color: rgb(157, 182, 238);
    font-weight: bold;
}
@media only screen and (max-width:480px){
    form{
        display:flex;
        flex-direction:column;
        margin:5%;
        width:80%;
    }
    .form-control{
        width:100%;
    }
    .btn-outline-primary{
        width:30%;
    }
    input::placeholder{
        font-size:12px;
    }

}
@media only screen and (max-width:1024px){
    form{
        display:flex;
        flex-direction:column;
        margin:5%;
        width:80%;
    }
    .form-control{
        width:100%;
    }
    .btn-outline-primary{
        width:30%;
    }
    input::placeholder{
        font-size:12px;
    }

}
