.navbar-brand{
    text-decoration: none;
}
.navbar{
    margin:0px;
    padding: 0px;
    display:flex;
    justify-content: space-between;
    
}
.nav-item{
    margin-left:2rem;
    font-weight: bolder;
}

.form-control{
    width:30%;
    height:50px;
    background-color: #131419;
    border: none;
    outline: none;
    padding: 5px 15px;
    color:#fff;
    font-size: 18px;
    color:#03a9f4;
    box-shadow: inset -2px -2px 6px rgba(255,255,255,0.05),
    inset 2px 2px 6px rgba(0,0,0,0.5);
}
.container-fluid{
    margin:0px;
    padding: 4px;
    background-color: rgb(255, 188, 5);
}
.cart{
    margin-right: 3%;
    cursor: pointer;
    margin-right: 5rem;
    
}