.wrapper{
    width:500vw;
    height:100vh;
    position: fixed;
    left:50%;
    top:50%;
    transform: translate(-50% , -50%);
    border-radius: 5px;
    background-image: linear-gradient(to left , #accbee 15%, #e7f0fd 100%);
    overflow: hidden;
}
.wave{
    width:1000px;
    height:1025px;
    position: absolute;
    top:-25%;
    left:50%;
    margin-left: -500px;
    margin-top: -500px;
    border-radius: 35%;
    background: rgba(255, 255, 255 , .75);
    animation: wave 15s infinite linear;
}

@keyframes wave{
    from {transform: rotate(0deg);}
    from {transform: rotate(360deg);}
}