
form{
    width:70%;
    background-color: rgb(154, 230, 253);

}
h3{
    color:white;
    text-align: center;
}
label{
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    color:white;
}

#error:focus{
    border: 2px solid rgb(255, 50, 50);
    box-shadow:0 0 0 0.2rem rgba(252, 64, 64, 0.404);
}
p{
    color: rgb(157, 182, 238);
    font-weight: bold;
}

@mdeia only screen and (max-width:480px){

    form{
       display:flex;
       flex-direction:column;
    }
}